{% extends 'base.html' %}
{% block content %}
<div class="row g-4">
  <div class="col-md-3"><div class="card p-3"><div class="text-muted">Students</div><div class="display-6">{{ data.students }}</div></div></div>
  <div class="col-md-3"><div class="card p-3"><div class="text-muted">Teachers</div><div class="display-6">{{ data.teachers }}</div></div></div>
  <div class="col-md-3"><div class="card p-3"><div class="text-muted">Courses</div><div class="display-6">{{ data.courses }}</div></div></div>
  <div class="col-md-3"><div class="card p-3"><div class="text-muted">Enrollments</div><div class="display-6">{{ data.enrollments }}</div></div></div>
</div>
{% endblock %}
